<DOCTYPE html>
    <html Lang="en">
     <head>
         <title>Journal blog | Admin - Home</title>
         <link rel="stylesheet" href="/css.css">
    </head>
    <body>
        <div class="main">
            <div class="navbar">
                <div class="icon">
                    <span class="logo">tell us what you think </span> 
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/admin/all-post">All Posts</a></li>
                        <li><a href="/admin/create-post">Create Post</a></li>
                    </ul>
                </div>
            </div>

            <main id="mainContentFront">
                <h1>Admin | Home</h1>
                <p>Welcome to the admin section</p>
            </main>
        </div>
    </body>
    </html>
    