<DOCTYPE html>
    <html Lang="en">

    <head>
        <title>Journal blog | Login</title>
        <link rel="stylesheet" href="/css.css">
    </head>

    <body>
        <div class="main">
            <div class="navbar">
                <div class="icon">
                    <span class="logo">tell us what you think </span>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/login">LOGIN</a></li>
                    </ul>
                </div>
            </div>

            <main id="mainContentFront">
                <h1>Login</h1><br>
                <form action="/login" method="post">
                    <label>Username</label> <input type="text" name="username" required><br>
                    <label>Password</label> <input type="password" name="password" minlength="5" required> 
                    <br><br><br>
                    <input type="submit" value="Log In">
                </form>
            </main>
        </div>
    </body>

    </html>